* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body{
  background: #f5f5f5;
}

li{
  list-style: none;
}

.flex-box{
  display: flex;
  justify-content: center;
  align-items: center;
}
