.Container{
  .header{
    height: 100px;
    line-height: 100px;
    display: flex;
    background: #fff;
    .logo{
      width: 240px;
      background: #343434;
      img{
        width: 70%;
      }
    }
  }
  .main{
    display: flex;
    position: absolute;
    padding-top: 100px;
    width: 100%;
    height: 100%;
    top: 0;
    .menu{
      width: 240px;
      background: #fff;
    }
    .content{
      flex: 1;
      background: #fff;
      position: relative;
      margin: 10px;
      overflow-x: hidden;
      overflow-y: auto;
    }
  }
}
